<mat-card>
  <form [formGroup]="customerForm" (ngSubmit)="save()">
    <label for="id">
      User ID:
      <mat-form-field>
        <input matInput id="id" type="text" formControlName="id" readonly>
      </mat-form-field>
    </label>
    <br>
    <label>
      First Name:
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" formControlName="firstName">
      </mat-form-field>
    </label>
    <br>
    <label>
      Last Name:
      <mat-form-field>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
    </label>
    <br>
    <label>
      Email:
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email">
      </mat-form-field>
    </label>
    <button id="btnSave" mat-button type="submit">Save</button>
    <br>
    <label>
      Orders:
      <cdk-virtual-scroll-viewport class="scroll" itemSize="90">
        <div class="content" *cdkVirtualFor="let o of this.orderService.orders">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{o.id}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              CustomerId: {{o.customerId}}
              <br>
              BoxId: {{o.boxId}}
            </mat-card-content>
          </mat-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </label>
  </form>
</mat-card>
