<p>My orders: </p>
<div class="content">
  <mat-accordion *ngFor="let o of this.orderService.orders">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Order id: {{o.id}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Customer id: {{o.customerId}}</p>
        <p>Box id: {{o.boxId}}</p>
        <mat-action-list>
          <button mat-raised-button color="warn" (click)="deleteOrder(o.id)">Delete order</button>
        </mat-action-list>
      </mat-expansion-panel>
      <hr>
  </mat-accordion>
</div>



