.icon button{
  width: 100%;
  background-color: #333333;
  align-content: flex-start;
}

.icon button:hover{
  background-color: rgba(51,51,51,0.7);
}

.btnDetails{
  color: black;
}

.btnDetails:hover{
  background-color: rgba(14, 5, 5, 0.4);
}

.btnDelete{
  color: white;
  background-color: red;
}

.btnDelete:hover{
  background-color: rgb(255, 0, 0, 0.3);
}

.btnCreate{
  color: white;
  background-color: forestgreen;
}

.btnCreate:hover{
  background-color: rgba(34, 139, 34, 0.3);
}

.boxImage{
  object-fit: cover;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
  max-width: 100px;
}


.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

#center-text{
  text-align: center;
  font-size: 30px;
}
