<button title="Back" mat-mini-fab color="primary" routerLink="/customer-list">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
  <br>
<mat-card>
  <form [formGroup]="customerForm" (ngSubmit)="save()">
    <label>
      First Name:
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" formControlName="firstName">
      </mat-form-field>
    </label>
    <br>
    <label>
      Last Name:
      <mat-form-field>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
    </label>
    <br>
    <label>
      Email:
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email">
      </mat-form-field>
    </label>
    <br>
    <button id="btnSave" mat-button type="submit">Save</button>
  </form>
</mat-card>
