<ul class="nav justify-content-center">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Choose Customer</mat-label>
      <mat-select [(ngModel)]="customerFromParent" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="undefined" disabled>Choose Customer</mat-option>
        <mat-option *ngFor="let c of customerService.customers" [value]="c">
          {{c.firstName}} {{c.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <li style="float:right"><a class="active" routerLink="" (click)="resetOrders()">Homepage</a></li>
</ul>
<div *ngIf="customerFromParent.id == null">
  <p style="font-size: 30px">Please choose a customer</p>
</div>
<app-my-orders [inputFromParent]="customerFromParent"></app-my-orders>
<app-boxes [inputFromParent]="customerFromParent"></app-boxes>
<!-- https://stackoverflow.com/questions/60032500/display-based-on-dynamic-select-dropdown-in-angular --->
<!-- https://www.google.com/search?q=change+view+based+on+selected+in+dropdown+angular&oq=change+view+based+on+selected+in+dropdown+angu&aqs=chrome.1.69i57j33i160l2j33i22i29i30l2.15197j0j7&sourceid=chrome&ie=UTF-8 --->
<!-- https://levelup.gitconnected.com/data-passing-in-parent-and-child-component-with-angular-652e7fd43626  --->
