<style>
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
</style>
<h1>Welcome please choose a role</h1>

<table id="role">
  <tr>
    <td>
      <div>
        <div class="icon-text">
          <p routerLink="admin-view">Admin</p>
        </div>
        <mat-icon class="icon" title="Admin" routerLink="admin-view">person</mat-icon>
      </div>
    </td>
    <td>
      <div>
        <div class="icon-text">
        <p routerLink="customer-view">Customer</p>
        </div>
        <mat-icon class="icon" title="Customer" routerLink="customer-view">person_outline</mat-icon>
      </div>
    </td>
  </tr>
</table>
